# Rebar OpenStack Environment (ROSE) Installer
# Controller configuration
[[local|localrc]]

SERVICE_TOKEN={{.Param "rose/service-token" -}}
ADMIN_PASSWORD={{.Param "rose/default-password" -}}
MYSQL_PASSWORD={{.Param "rose/default-password" -}}
SERVICE_PASSWORD={{.Param "rose/default-password" -}}
DATABASE_PASSWORD={{.Param "rose/default-password" -}}
RABBIT_PASSWORD={{.Param "rose/default-password" -}}

HOST_IP={{.MachineAddress}}
PUBLIC_INTERFACE=ens0

MULTI_HOST=True

disable_service c-vol
disable_service n-cpu
disable_service n-net