/*.yaml
/*.sha256
/*.rst
/*.json
*/._Version.meta
*/content/._Version.meta
key1*
key2*
e-info.tgz
logs
cicd*
dr_info
drp
.DS_Store
/.idea/
bin
krib/krib.yaml
content/contents.yaml
content/content.yaml
edge-lab/edge-lab.yaml
edge-lab/admin.conf
edge-lab/kube.config
task-library/task-library.yaml
bundle.yaml
bundle.json
rel_notes
rebar-catalog
