log_location STDOUT
chef_server_url "https://{{.Param "chef-bootstrap/chef_server"}}/organizations/{{.Param "chef-bootstrap/organization"}}/"
node_name "{{.Param "chef-bootstrap/node_name"}}"
chef_license "accept"
{{ if .ParamExists "chef-bootstrap/policy_name" -}}
policy_name "{{.Param "chef-bootstrap/policy_name"}}"
{{ end -}}
{{ if .ParamExists "chef-bootstrap/policy_group" -}}
policy_group "{{.Param "chef-bootstrap/policy_group"}}"
{{ end -}}