#!/usr/bin/env bash
# Installs chef-client software
cd /etc/chef

# this isn't the most pretty installation method, should revisit this
curl -L {{.Param "chef-bootstrap/chef_install_source"}} | bash || error_exit 'could not install chef'

exit 0
