# Configure the PhoenixNAP provider
terraform {
  required_providers {
    pnap = {
      source = "phoenixnap/pnap"
      version = ">= 0.6.0"
    }
  }
}

# Create a serve
resource "pnap_server" "drp_node" {
    hostname = "{{ .Machine.Name }}"
    os = "{{ .Param "pnap/os" }}"
    type = "{{ .Param "pnap/type" }}"
    location = "{{ .Param "pnap/location" }}"
	{{ if .ParamExists "rsa/key-public" }}
    ssh_keys = ["{{ .Param "rsa/key-public" }}"]
	{{ end }}
    #allowed actions are: reboot, reset, powered-on, powered-off, shutdown
    action = "powered-on"
}

output "machine_ip" {
	value       = element(compact(pnap_server.drp_node.public_ip_addresses),0)
	description = "The IP of Machine"
}

output "instance_id" {
	value       = pnap_server.drp_node.id
	description = "PNAP Instance ID"
}
