# Configure the Digital Ocean provider
terraform {
  required_providers {
    linode = {
      source  = "digitalocean/digitalocean"
      version = ">= 1.13.4"
    }
    digitalocean = {
      source = "digitalocean/digitalocean"
    }
  }
  required_version = ">= 0.13"
}


provider "digitalocean" {
  token = "{{ .Param "digitalocean/token" }}"
}

resource "digitalocean_ssh_key" "drp_machine" {
  name       = "DRP {{ .Machine.Name }}"
  public_key = "{{ .Param "rsa/key-public" }}"
}

resource "digitalocean_droplet" "drp_machine" {
  image    = "{{ .Param "digitalocean/image" }}"
  region   = "{{ .Param "digitalocean/region" }}"
  size     = "{{ .Param "digitalocean/size" }}"
  name     = "{{ .Machine.Name }}"
  ssh_keys = [digitalocean_ssh_key.drp_machine.fingerprint]
  tags     = [ {{ range $i, $p := .Machine.Profiles }}"{{lower $p}}",{{ end }}"digitalrebar" ]

  # this template synchronizes the Terraform instance with Digital Rebar
  {{template "cloud-provision-local-exec.tf.tmpl" . }}
}