# Configure the Linode provider
terraform {
  required_providers {
    linode = {
      source = "linode/linode"
      version = ">= 1.19.1"
    }
  }
}

provider "linode" {
  token = "{{ .Param "linode/token" }}"
}

# include this template to for Linode to create the cloud-init script
{{template "cloud-util-linode-stackscript.tf.tmpl" . }}

resource "linode_instance" "drp_node" {
  # is this a multiple machine cluster?
  {{ if .ParamExists "cluster/profile" }}
  # YES? use the DRP cluster logic to create multiple machines to run in clusters
  count            = "{{ .Param "cloud/cluster-count" }}"
  label            = "{{ .Param "cluster/profile" }}-\${count.index}"
  {{ else }}
  # NO? then names match the TF instance with the DRP machine
	label            = "{{ .Machine.Name }}"
  {{ end }}
	image            = "{{ .Param "linode/instance-image" }}"
	region           = "{{ .Param "linode/region" -}}"
	type             = "{{ .Param "linode/instance-type" }}"
	tags             = [ {{ range $i, $p := .Machine.Profiles }}"{{lower $p}}",{{ end }}"digitalrebar" ]
  {{ if .ParamExists "linode/root-password" }}
	root_pass        = "{{ .Param "linode/root-password" }}"
  {{ end }}
  # note: you can use public "stackscript_id = 863588" instead of generating the block each time
  stackscript_id   = linode_stackscript.digitalrebar_join.id
  stackscript_data = {
    "api_url" = "{{ .ApiURL }}"
  }
  {{ if .ParamExists "rsa/key-public" }}
	authorized_keys  = ["{{ .Param "rsa/key-public" }}"]
	{{ end }}

  # this template synchronizes the Terraform instance with Digital Rebar
  {{template "cloud-provision-local-exec.tf.tmpl" . }}

}
