# Configure the Google provider
terraform {
  required_providers {
    google = {
      source = "hashicorp/google"
      version = ">= 3.50.0"
    }
  }
}
provider "google" {
	credentials  = <<EOF
        {{ .ParamAsJSON "google/credential" }}
        EOF
	project      = "{{ .Param "google/project-id" }}"
  	region       = "{{ .Param "google/region" }}"
}

resource "google_compute_instance" "drp_node" {
    name         = "{{ .Machine.Name }}"
    {{ if (contains "." .Machine.Name) }}
    hostname     = "{{ .Machine.Name }}"
    {{ end }}
    zone         = "{{ .Param "google/zone" }}"
    machine_type = "{{ .Param "google/instance-type" }}"
    tags         = [ {{ range $i, $p := .Machine.Profiles }}"{{$p}}",{{ end }}"digitalrebar" ]
    boot_disk {
        initialize_params {
          image = "{{ .Param "google/boot-disk-image" }}"
        }
    }
    {{ if .ParamExists "rsa/key-public" -}}
    metadata = {
        ssh-keys = "{{ .Param "rsa/key-user" }}:{{ .Param "rsa/key-public" }}"
    }
    {{ end }}
    network_interface {
        network = "default"
        access_config {
          // Ephemeral IP
        }
    }
}

output "machine_ip" {
	value       = google_compute_instance.drp_node.network_interface.0.access_config.0.nat_ip
	description = "The IP of Machine"
}
