# Configure the Linode provider
terraform {
  required_providers {
    linode = {
      source = "linode/linode"
      version = ">= 1.13.4"
    }
  }
}

provider "linode" {
  token = "{{ .Param "linode/token" }}"
}

resource "linode_instance" "drp_node" {
	image     = "{{ .Param "linode/instance-image" }}"
	label     = "{{ .Machine.Name }}"
	region    = "{{ .Param "linode/region" -}}"
	type      = "{{ .Param "linode/instance-type" }}"
	root_pass = "{{ .Param "linode/root-password" }}"
	tags      = [ {{ range $i, $p := .Machine.Profiles }}"{{$p}}",{{ end }}"DigitalRebar" ]
	{{ if .ParamExists "rsa/key-public" }}
	authorized_keys = ["{{ .Param "rsa/key-public" }}"]
	{{ end }}
}

output "machine_ip" {
	value       = linode_instance.drp_node.ip_address
	description = "The IP of Machine"
}

output "instance_id" {
	value       = linode_instance.drp_node.id
	description = "Linode Instance ID"
}
