# This is provided for reference ONLY - values are not expected to function
terraform {
  required_providers {
    {{ .Param "cloud/provider" }} = {
      source = "hashicorp/{{ .Param "cloud/provider" }}"
      version = ">= 1.0.0"
    }
  }
}
provider "{{ .Param "cloud/provider" }}" {
  token = "mytoken"
}

resource "instance" "drp_node" {
    name         = "{{ .Machine.Name }}"
    tags         = [ {{ range $i, $p := .Machine.Profiles }}"{{$p}}",{{ end }}"digitalrebar" ]
    {{ if .ParamExists "rsa/key-public" -}}
    ssh-keys = "{{ .Param "rsa/key-user" }}:{{ .Param "rsa/key-public" }}"
    {{ end }}
}

output "machine_ip" {
  value       = instance.drp_node.public_ip
  description = "The IP of Machine"
}

output "instance_id" {
  value       = instance.drp_node.id
  description = "Instance ID"
}
