# This is provided for reference ONLY - values are not expected to function
terraform {
  required_providers {
    {{ .Param "cloud/provider" }} = {
      source = "hashicorp/{{ .Param "cloud/provider" }}"
      version = ">= 1.0.0"
    }
  }
}
provider "{{ .Param "cloud/provider" }}" {
  token = "mytoken"
}

resource "instance" "drp_node" {
    # will use the DRP cluster logic to attach machines to clusters
    {{ if .ParamExists "cluster/profile" }}
    count            = "{{ .Param "cloud/cluster-count" }}"
    name            = "{{ .Param "cluster/profile" }}-\${count.index}"
    {{ else }}
    # names must match to automatically link the TF instance with the DRP machine
    name            = "{{ .Machine.Name }}"
    {{ end }}
    tags         = [ {{ range $i, $p := .Machine.Profiles }}"{{lower $p}}",{{ end }}"digitalrebar" ]
    {{ if .ParamExists "rsa/key-public" -}}
    ssh-keys = "{{ .Param "rsa/key-user" }}:{{ .Param "rsa/key-public" }}"
    {{ end }}

  # calls the DRP join-up
	user_data = <<-EOT
	  {{template "cloud-provision-cloud-init.tf.tmpl" . }}
	EOT

  # this template synchronizes the Terraform instance with Digital Rebar
  {{template "cloud-provision-local-exec.tf.tmpl" . }}
}
