# Configure the PhoenixNAP provider
terraform {
  required_providers {
    pnap = {
      source = "phoenixnap/pnap"
      version = ">= 0.6.0"
    }
  }
}

# Create a server
resource "pnap_server" "drp_node" {
    hostname = "{{ .Machine.Name }}"
    os = "{{ .Param "pnap/os" }}"
    type = "{{ .Param "pnap/type" }}"
    location = "{{ .Param "pnap/location" }}"
	{{ if .ParamExists "rsa/key-public" }}
    ssh_keys = ["{{ .Param "rsa/key-public" }}"]
	{{ end }}
    #allowed actions are: reboot, reset, powered-on, powered-off, shutdown
    action = "powered-on"

  # this template synchronizes the Terraform instance with Digital Rebar
  {{template "cloud-provision-local-exec.tf.tmpl" . }}
}