# Configure the AWS provider
terraform {
  required_providers {
    aws = {
      source = "hashicorp/aws"
      version = ">= 3.20.0"
    }
  }
}
provider "aws" {
  region = "{{ .Param "aws/region" }}"
  access_key = "{{ .Param "aws/access-key-id" }}"
  secret_key = "{{ .Param "aws/secret-key" }}"
}

{{ if .ParamExists "rsa/key-public" }}
resource "aws_key_pair" "DRP-{{ .Machine.Uuid }}" {
  key_name   = "DRP-{{ .Machine.Uuid }}"
  public_key = "{{ .Param "rsa/key-public" }}"
}
{{ end }}

{{ if .ParamExists "aws/security-groups" }}
# using predefined security groups
{{ else }}
resource "aws_security_group" "digitalrebar_basic" {

	name_prefix 	= "drp_"
	description		= "Digital Rebar Cloud Wrapper"
  {{ range $i, $p := (.ComposeParam "network/firewall-ports" | uniq) }}
  {{- $portdef := split "/" $p -}}
	ingress {
		description = "network/firewall-ports[{{$i}}]"
		from_port   = {{$portdef._0}}
		to_port     = {{$portdef._0}}
		protocol    = "{{coalesce $portdef._1 "tcp"}}"
		cidr_blocks = ["0.0.0.0/0"]
	}
  {{ end }}
	egress {
		from_port   = 0
		to_port     = 0
		protocol    = "-1"
		cidr_blocks = ["0.0.0.0/0"]
	}
	tags = {
		Name = "digitalrebar"
	}
}
{{ end }}

resource "aws_instance" "drp_node" {
	ami           	= "{{ .Param "aws/ami-id" }}"
	instance_type 	= "{{ .Param "aws/instance-type" }}"
	tags      		= {
		Name 		= "{{ .Machine.Name }}"
		DRP_ID		= "{{ .Machine.Uuid }}"
		Provisoner	= "DigitalRebar"
	{{ range $i, $p := .Machine.Profiles }}
		{{$p}}		= "DRP-Profile{{$i}}"
	{{- end }} }
	{{ if .ParamExists "rsa/key-public" -}}
	key_name 		= "DRP-{{ .Machine.Uuid }}"
	{{- end }}
	{{ if .ParamExists "aws/security-groups" }}
	security_groups = [{{ range $i, $p := (.Param "aws/security-groups") }}"{{$p}}",{{ end }}]
	{{ else }}
	security_groups = [aws_security_group.digitalrebar_basic.name]
	{{ end }}
}

output "machine_ip" {
	value       = aws_instance.drp_node.public_ip
	description = "The IP of Machine"
}
