#!/bin/bash
# Install Digital Rebar Provision on a Machine

set -e

{{template "setup.tmpl" .}}

unset RS_TOKEN
###
#  This template installs Digital Rebar Provision on a given
#  machine.  It requires a BootEnv be run prior to this stage,
#  which installs either Centos 7 or Ubuntu 16.04.
#
#  By default we wll NOT configure with DRP Community Content.
#  Install mode will be Production by default to get restart scripts.
#  Further tasks should be used to customize the DRP endpoint.
###
#[[ `id -nu` != "0" ]] && xiterr "Must be root to install."

_drpcli=`which drpcli`
[[ ! -x "$_drpcli" ]] && xiterr 1 "'drpcli' binary not found or not executable"

set -x

# should become a Param
VER_CONTENT="stable"

mkdir -p $HOME/drp
cd $HOME/drp

# community contents
curl -sfSL \
      https://github.com/digitalrebar/provision-content/releases/download/${VER_CONTENT}/drp-community-content.yaml \
      -o drp-community-content.yaml
curl -sfSL \
      https://github.com/digitalrebar/provision-content/releases/download/${VER_CONTENT}/drp-community-content.sha256 \
      -o drp-community-content.sha256

sha256sum -c drp-community-content.sha256

# need to force the DRP endpoint to be localhost - otherwise, we
# perform the action on the Endpoint deploying us
$_drpcli -E https://127.0.0.1:8092 contents exists drp-community-content 2> /dev/null  \
  && $_drpcli -E https://127.0.0.1:8092 contents destroy drp-community-content

$_drpcli -E https://127.0.0.1:8092 contents create -< drp-community-content.yaml
