apiVersion: v1
kind: Secret
metadata:
  name: certmanager-provider
  namespace: cert-manager
data:
{{- if .ParamExists "certmanager/route53-secret-access-key"}}
   accessKey: "{{.Param "certmanager/route53-secret-access-key"}}"
{{- end}}
{{- if .ParamExists "certmanager/cloudflare-api-key"}}
   apiKey: "{{.Param "certmanager/cloudflare-api-key"}}"
{{- end}}
{{- if .ParamExists "certmanager/fastdns-client-token"}}
   clientToken: "{{.Param "certmanager/fastdns-client-token"}}"
{{- end}}
{{- if .ParamExists "certmanager/fastdns-client-secret"}}
   clientSecret: "{{.Param "certmanager/fastdns-client-secret"}}"
{{- end}}
{{- if .ParamExists "certmanager/fastdns-access-token"}}
   accessToken: "{{.Param "certmanager/fastdns-access-token"}}"
{{- end}}
{{- if .ParamExists "certmanager/rfc2136-tsig-key"}}
   tsigKey: "{{.Param "certmanager/rfc2136-tsig-key"}}"
{{- end}}
