#!/bin/bash
# Set defaults for Consul CLI.
export CONSUL_HTTP_ADDR=https://localhost:8501
export CONSUL_CACERT=/etc/kubernetes/pki/consul/server-ca.pem
export CONSUL_CLIENT_CERT=/etc/kubernetes/pki/consul/server.pem
export CONSUL_CLIENT_KEY=/etc/kubernetes/pki/consul/server-key.pem