#!/usr/bin/env bash
# notes - David on 21 June 2019
# 
# This script is a copy of etcd-config.sh.tmpl
# What's not working / considered yet:
# [ ] We generate certificates but don't use them
# [ ] We could potentially do all consul config in the systemd service, rather than a standalone config file?
# [ ] I'm not sure what the workflow is re why we'd remove/add a member to an existing cluster. Looks dangerous
# [ ] We should only complete this stage when the cluster has a leader

# Build a consul cluster
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}

# Skip the remainder of this template if this host is not a master in a selective-master deployment
{{template "krib-skip-if-not-master.tmpl" .}}

export RS_UUID="{{.Machine.UUID}}"
export RS_IP="{{.Machine.Address}}"

CONSUL_VERSION="{{ .Param "consul/version" }}"

# these need to be before krib-lib template
{{if .ParamExists "consul/cluster-profile" -}}
CLUSTER_PROFILE={{.Param "consul/cluster-profile"}}
PROFILE_TOKEN={{.GenerateProfileToken (.Param "consul/cluster-profile") 7200}}
{{else -}}
xiterr 1 "Missing consul/cluster-profile on the machine!"
{{end -}}

{{template "krib-lib.sh.tmpl" .}}

{{if .ParamExists "consul/servers" -}}
# Ensure that the consul systemd service specifies all consul nodes using retry-join
setup_retry_join() {
  {{- range $elem := .Param "consul/servers"}}
  PEER={{ $elem.Address }}
  if [[ ! `grep $PEER /etc/systemd/system/consul.service` ]]; then
    sed -i "/ExecStart=/ a \    -retry-join=$PEER \\\\" /etc/systemd/system/consul.service
  fi
  {{ end -}}
}

get_member_list() {
  set +e
  echo `consul operator raft list-peers 2>/dev/null`
  set -e
}

get_member_id() {
  set +e
  MEMBER_ID=`consul operator raft list-peers | grep ${CONSUL_IP} | awk -F' '  '{print $3}' | awk -F':' '{print $1}'`
  set -e
  echo ${MEMBER_ID}
}
{{ end -}}

echo "Configure the consul cluster"

setup_retry_join

systemctl daemon-reload
systemctl start consul
systemctl status consul

exit 0
