#!/bin/bash
# Set defaults for Consul CLI.
export CONSUL_HTTP_ADDR=https://localhost:8501
export CONSUL_CACERT=/etc/consul/pki/server-ca.pem
export CONSUL_CLIENT_CERT=/etc/consul/pki/server.pem
export CONSUL_CLIENT_KEY=/etc/consul/pki/server-key.pem