#!/usr/bin/env bash
# Kubernetes Rebar Integrated Boot (KRIB) Docker Install
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}
[[ $RS_UUID ]] && export RS_UUID="{{.Machine.UUID}}"

{{if .ParamExists "docker/working-dir" -}}
echo "Linking the docker working directory into place."
ln -s {{.Param "docker/working-dir"}} /var/lib/docker
{{end -}}

# Get latest docker...
curl -fsSL https://get.docker.com/ | sh

{{if .ParamExists "docker/daemon"}}
echo "Creating /etc/docker/daemon.json file from Param docker/daemon"
cat <<EOF >/etc/docker/daemon.json
{{.ParamAsJSON "docker/daemon"}}
EOF
cat /etc/docker/daemon.json
{{else}}
echo "Skipping custom etc/docker/daemon.json: No docker/daemon defined"
{{end}}

echo "Starting Docker Service"
service docker enable
service docker start

echo "Docker installed successfully"
exit 0

