#!/usr/bin/env bash
# Kubernetes Rebar Integrated Boot (KRIB) Docker Install
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}

{{ if .ParamExists "krib/cluster-profile" -}}
CLUSTER_PROFILE={{ .Param "krib/cluster-profile" }}
PROFILE_TOKEN={{ .GenerateProfileToken (.Param "krib/cluster-profile") 7200 }}
{{ else -}}
xiterr 1 "Missing krib/cluster-profile on the machine!"
{{ end -}}

{{ template "krib-lib.sh.tmpl" .}}
[[ $RS_UUID ]] && export RS_UUID="{{.Machine.UUID}}"

{{if .ParamExists "docker/working-dir" -}}
# Only do this if it exists.
# if it isn't setup, don't use it.
if [[ -e {{.Param "docker/working-dir"}} ]] ; then
  echo "Linking the docker working directory into place."
  ln -s {{.Param "docker/working-dir"}} /var/lib/docker
fi
{{end -}}

{{if .ParamExists "kubectl/working-dir" -}}
# Only do this if it exists.
# if it isn't setup, don't use it.
if [[ -e {{.Param "kubectl/working-dir"}} ]] ; then
  echo "Linking the kubectl working directory into place."
  ln -s {{.Param "kubectl/working-dir"}} /var/lib/kubectl
fi
{{end -}}

if ! which docker ; then
  echo "Install docker version: {{.Param "docker/version"}}"
  download https://get.docker.com/ -o get-docker.sh
  VERSION={{.Param "docker/version"}} with_backoff bash get-docker.sh
fi

{{if .ParamExists "docker/daemon"}}
echo "Creating /etc/docker/daemon.json file from Param docker/daemon"
mkdir -p /etc/docker
cat <<EOF >/etc/docker/daemon.json
{{.ParamAsJSON "docker/daemon"}}
EOF
cat /etc/docker/daemon.json
{{else}}
echo "Skipping custom etc/docker/daemon.json: No docker/daemon defined"
{{end}}

echo "Starting Docker Service"
service docker enable
service docker start

echo "Docker installed successfully"
exit 0
