apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: k8s-dashboard
  namespace: kube-system
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
{{- if .ParamExists "certmanager/email"}}
    kubernetes.io/tls-acme: "true"
{{- end}}
spec:
  rules:
{{- if .ParamExists "ingress/k8s-dashboard-hostname"}}
  - host: "{{.Param "ingress/k8s-dashboard-hostname"}}"
{{- else if .ParamExists "ingress/ip-address"}}
  - host: "{{.Param "ingress/ip-address"}}.xip.io"
{{- end}}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 443
  tls:
  - hosts:
{{- if .ParamExists "ingress/k8s-dashboard-hostname"}}
    - "{{.Param "ingress/k8s-dashboard-hostname"}}"
{{- else if .ParamExists "ingress/ip-address"}}
    - "{{.Param "ingress/ip-address"}}.xip.io"
{{- end}}
{{- if .ParamExists "certmanager/email"}}
    secretName: k8s-db-cloud-tls
{{- end}}
