apiVersion: v1
kind: Namespace
metadata:
  name: external-dns
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  namespace: external-dns  
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: external-dns
rules:
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get","watch","list"]
- apiGroups: ["extensions"] 
  resources: ["ingresses"] 
  verbs: ["get","watch","list"]
- apiGroups: [""]
  resources: ["nodes"]
  verbs: ["list"]
- apiGroups: ["networking.istio.io"]
  resources: ["gateways"]
  verbs: ["get","watch","list"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: external-dns-viewer
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: external-dns
subjects:
- kind: ServiceAccount
  name: external-dns
  namespace: external-dns
---
apiVersion: v1
kind: Secret
metadata:
  name: external-dns
  namespace: external-dns
data:
{{- if .ParamExists "certmanager/route53-secret-access-key"}}
   aws-secret-access-key: "{{.Param "certmanager/route53-secret-access-key"}}"
{{- end}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        image: registry.opensource.zalan.do/teapot/external-dns:{{ .Param "krib/cluster-external-dns-version" }}
        args:
        - --source=service
        - --source=ingress
        - --source=istio-gateway
        - --policy=sync # it's safe to use sync because we're also using registry=txt below, so we'll only delete record we created
        - --registry=txt
        - --txt-owner-id={{ .Param "krib/cluster-profile" }}
        - --domain-filter={{ .Param "certmanager/dns-domain" }}
    {{ if .ParamExists "krib/external-dns-extra-args" -}}
    {{ range $key, $value  := .Param "krib/external-dns-extra-args" -}}
    {{ $key }}: {{ $value }}
    {{ end }}
    {{ end }}     
        env:
{{if eq (.Param "krib/external-dns-provider") "aws" }}        
          - name: EXTERNAL_DNS_PROVIDER
            value: "aws"
          - name: AWS_ACCESS_KEY_ID
            value: "{{ .Param "certmanager/route53-access-key-id" }}"
          - name: AWS_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: external-dns
                key: aws-secret-access-key
{{ end -}}
