#### BEGIN krib-skip-if-not-master.tmpl
# This snippet skips the remainder of the calling template, if 
# selective mastership is enabled, but the current machine is not
# selected to be a master. This template is called from etcd-config.sh.tmpl _and_
# from krib-get-masters.sh.tmpl, so it makes sense to decompose the contents
# into this single, re-usable template

{{if .ParamExists "krib/selective-mastership" -}}
SELECTIVE_MASTERSHIP={{.Param "krib/selective-mastership" }}
{{end -}}
{{if .ParamExists "krib/i-am-master" -}}
I_AM_MASTER={{.Param "krib/i-am-master" }}
{{end -}}
if [[ "$SELECTIVE_MASTERSHIP" == true ]] ; then
  if [[ ! "$I_AM_MASTER" == true ]] ; then
    echo "krib/selective-mastership is true but krib/i-am-master is not. I am denied mastership, so move on"
    exit 0
  fi
fi

#### END krib-skip-if-not-master.tmpl