#!/usr/bin/env bash
# Kubernetes Rebar Integrated Boot (KRIB) Kubeadm Installer
# this snippet is called by the krib-dev-reset task

{{if .Param "krib/cluster-is-production" -}}
  xiterr 1 "CANNOT USE RESET WHEN CLUSTER IS PRODUCTION"
{{else -}}

  for p in "${WIPE_PARAMS[@]}"; do

    JC=$(drpcli -T "$PROFILE_TOKEN" profiles get "$CLUSTER_PROFILE" param "$p" | jq -r .)
    echo "=== clearing $p : value was ==========================="
    if [[ $JC != null ]] ; then
        drpcli -T "$PROFILE_TOKEN" profiles remove "$CLUSTER_PROFILE" param "$p" | jq -r '.'
    else
      echo "  skipping $p, was not set"
    fi

  done
  echo "==================================================="

{{end -}}
