kind: EncryptionConfig
apiVersion: v1
resources:
 - resources:
   - secrets
   providers:
   - kms:
       name: vault
       endpoint: unix:///etc/kubernetes/pki/vault-kms-plugin/vault-kms-plugin.sock
       cachesize: 100
   - identity: {}