#!/usr/bin/env bash
# Kubernetes Rebar Immutable Boot (KRIB) Kubeadm Installer
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}

{{if .ParamExists "krib/cluster-profile" -}}
CLUSTER_PROFILE={{.Param "krib/cluster-profile"}}
PROFILE_TOKEN={{.GenerateProfileToken (.Param "krib/cluster-profile") 7200}}
{{else -}}
xiterr 1 "Missing krib/cluster-profile on the machine!"
{{end -}}

{{template "krib-lib.sh.tmpl" .}}
export RS_UUID="{{.Machine.UUID}}"

{{ if eq (.Param "krib/dashboard-enabled") true -}}
echo "Start Dashboard"

MASTER_INDEX=$(find_me $KRIB_MASTERS_PARAM "Uuid" $RS_UUID)
MASTER_COUNT={{.Param "krib/cluster-master-count"}}

if [[ $MASTER_INDEX == 0 ]] ; then
  export KUBECONFIG=/etc/kubernetes/admin.conf

  if ! which rsync ; then
    install rsync
  fi
  if ! which git ; then
    install git
  fi
  if ! which wget ; then
    install wget
  fi

  wget -O /tmp/kubernetes-dashboard.yaml {{ .Param "krib/dashboard-config" }}

  OPWD=$(pwd)
  cd /tmp
  cd $OPWD

  mkdir -p /root/setup/dashboard
  cp /tmp/kubernetes-dashboard.yaml /root/setup/dashboard/kubernetes-dashboard.yaml

  cat > /root/setup/dashboard/dashboard-serviceaccount.yaml << EOFSA
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-app: kubernetes-dashboard
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
EOFSA

  cat >/root/setup/dashboard/dashboard-admin.yaml <<EOFDA
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: kubernetes-dashboard
  labels:
    k8s-app: kubernetes-dashboard
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: kubernetes-dashboard
  namespace: kubernetes-dashboard
EOFDA

  kubectl apply -f /root/setup/dashboard/kubernetes-dashboard.yaml
  kubectl delete -f /root/setup/dashboard/dashboard-serviceaccount.yaml
  kubectl delete -f /root/setup/dashboard/dashboard-admin.yaml
  kubectl apply -f /root/setup/dashboard/dashboard-serviceaccount.yaml
  kubectl apply -f /root/setup/dashboard/dashboard-admin.yaml
  kubectl scale --replicas=$MASTER_COUNT -n kubernetes-dashboard deployment/kubernetes-dashboard

fi
echo "Finished successfully"
{{end -}}
drpcli machines update $RS_UUID "{\"Meta\":{\"color\":\"green\", \"icon\": \"anchor\"}}" | jq .Meta
exit 0
