{
  "server": true,
  "node_name": "{{.Machine.Name}}",
  "datacenter": "dc1",
  "data_dir": "/var/lib/consul/data",
  "bind_addr": "0.0.0.0",
  "client_addr": "0.0.0.0",
  "advertise_addr": "{{.Machine.Address}}",
  "bootstrap_expect": 3,
  "retry_join": ["192.168.33.11", "192.168.33.12", "192.168.33.13"],
  "ui": true,
  "log_level": "DEBUG",
  "enable_syslog": true,
  "acl_enforce_version_8": false
}