#!/usr/bin/env bash
# Kubernetes Rebar Integrated Boot (KRIB) Kubeadm Installer
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}

echo "Run Contrail install on the master (skip for minions)..."

{{if .ParamExists "krib/cluster-profile" -}}
CLUSTER_PROFILE={{.Param "krib/cluster-profile"}}
PROFILE_TOKEN={{.GenerateProfileToken (.Param "krib/cluster-profile") 7200}}
{{else -}}
echo "Missing krib/cluster-profile on the machine!"
exit 1
{{end -}}

{{template "krib-lib.sh.tmpl" .}}

# TEMPORARY SUPER HACK ON ALL MACHINES- inject the registery
cat <<EOF >>/etc/docker/daemon.json
{
"insecure-registries": ["{{.Param "contrail/docker-registery"}}"]
}
EOF
# THIS REALLY SHOULD BE DONE INSIDE DOCKER INSTALL TO AVOID RESTART!!!
service docker restart
sleep 10

MASTER_INDEX=$(find_me $KRIB_MASTERS_PARAM "Uuid" $RS_UUID)
echo "My Master index is $MASTER_INDEX"
if [[ $MASTER_INDEX != notme ]] ; then

  if [[ $MASTER_INDEX == 0 ]] ; then

    echo "I am the elected leader - I can run Contrail install for the cluster"

    # help requires the admin config
    export KUBECONFIG="/etc/kubernetes/admin.conf"

    # TODO check if exists first
    mkdir -pm 777 /var/lib/contrail/kafka-logs;
    kubectl apply -f contrail-single-step-cni-install-centos.yaml

    # WAIT FOR A LITTLE
    sleep 10

    # CHECK STATUS - really should loop and check
    contrail-status

  else

    echo "I was not the leader, skipping helm install"

  fi

else

  echo "I am a worker - no helm actions"

fi

echo "Finished successfully"
exit 0

