#!/usr/bin/env bash
# Kubernetes Rebar Integrated Boot (KRIB) Kubeadm Installer
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}

echo "Configure helm on the master (skip for minions)..."

{{if .ParamExists "krib/cluster-profile" -}}
CLUSTER_PROFILE={{.Param "krib/cluster-profile"}}
PROFILE_TOKEN={{.GenerateProfileToken (.Param "krib/cluster-profile") 7200}}
{{else -}}
xiterr 1 "Missing krib/cluster-profile on the machine!"
{{end -}}

{{template "krib-lib.sh.tmpl" .}}

{{ if .ParamExists "helm/version" -}}
  {{ $helmversion := .Param "helm/version" -}}
{{ else -}}
  {{ if .ParamExists "krib/helm-version" -}}
  {{ $helmversion := .Param "krib/helm-version" -}}
  {{ end -}}
  {{ if .ParamExists "edge-lab/helm-version" -}}
  {{ $helmversion := .Param "edge-lab/helm-version" -}}
  {{ end -}}
{{ end -}}

MASTER_INDEX=$(find_me $KRIB_MASTERS_PARAM "Uuid" $RS_UUID)
echo "My Master index is $MASTER_INDEX"
if [[ $MASTER_INDEX != notme ]] ; then

  if [[ $MASTER_INDEX == 0 ]] ; then

    echo "I am the elected leader - install helm and helm init"

    # help requires the admin config
    export KUBECONFIG="/etc/kubernetes/admin.conf"

    INSTALL_DIR=/usr/local/bin
    if [[ $OS_FAMILY == coreos ]] ; then
      INSTALL_DIR=/opt/bin
    fi

    if [[ ! -f "${INSTALL_DIR}/helm" ]]; then
      # todo: provide more options for installing helm
      {{ if eq $helmversion "latest" -}}
      # curl has exit code 23... meh
      set +e
      HELM_VERSION=$(curl -skX GET "https://api.github.com/repos/helm/helm/releases/latest" | awk '/tag_name/{print $4;exit}' FS='[""]')
      set -e
      {{ else -}}
      HELM_VERSION={{$helmversion}}
      {{ end -}}
      curl https://raw.githubusercontent.com/helm/helm/master/scripts/get > get_helm.sh
      chmod 700 get_helm.sh

      HELM_INSTALL_DIR=$INSTALL_DIR ./get_helm.sh -v ${HELM_VERSION}
      echo "When helm fail to get the latest version, please add param "krib/helm-version" and re-run again"
      echo "You can find the version release or tag on: https://github.com/helm/helm/releases/"
      
    fi

    if [[ ! -z $(kubectl -n kube-system rollout status deploy/tiller-deploy -w=0 | grep success) ]] ; then
      echo "Tiller already installed - exiting"
      helm version
      exit 0
    fi

    echo "Create tiller service account"
    kubectl apply -f tiller-rbac.yaml

    echo "Helm initialize"
    helm init --service-account tiller

    set +e
    echo "Wait until Tiller is running"
    CNT=$(kubectl -n kube-system rollout status deploy/tiller-deploy -w=0 | grep success)
    ESCAPE=0
    while [[ -z $CNT && $ESCAPE -lt 20 ]] ; do
      echo $(kubectl -n kube-system rollout status deploy/tiller-deploy -w=0)
      sleep 5
      CNT=$(kubectl -n kube-system rollout status deploy/tiller-deploy -w=0 | grep success)
      ((ESCAPE=ESCAPE+1))
    done
    set -e

    echo "Check versions....(includes 10 second wait for Tiller initialize)"
    # we need some extra time for Tiller to actually initialize
    sleep 10
    helm version
    rm ./get_helm.sh

  else

    echo "I was not the leader, skipping helm init"

  fi

else

  echo "I am a worker - no helm actions"

fi

echo "Finished successfully"
exit 0
