#!/usr/bin/env bash
# Kubernetes Rebar Integrated Boot (KRIB) nginx-ingress Installer
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}

{{ template "download-tools.tmpl" .}}

{{if .ParamExists "krib/cluster-profile" -}}
CLUSTER_PROFILE={{.Param "krib/cluster-profile"}}
PROFILE_TOKEN={{.GenerateProfileToken (.Param "krib/cluster-profile") 7200}}
{{else -}}
xiterr 1 "Missing krib/cluster-profile on the machine!"
{{end -}}

{{template "krib-lib.sh.tmpl" .}}

MASTER_INDEX=$(find_me $KRIB_MASTERS_PARAM "Uuid" $RS_UUID)

if [[ $MASTER_INDEX == 0 ]] ; then
  export KUBECONFIG=/etc/kubernetes/admin.conf

  # Get manifests, and duplicate service manifest for optional additional external ingress
  download -o /tmp/nginx-ingress-mandatory.yaml {{ .Param "krib/ingress-nginx-mandatory" }}
  download -o /tmp/nginx-ingress-service.yaml {{ .Param "krib/ingress-nginx-config" }}

  # Replace references to "master" with the user-specified tag (if user has left the default at "master" this will have no effect)
  sed -i 's/nginx-ingress-controller:.*/nginx-ingress-controller:{{ .Param "krib/nginx-ingress-version" }}/' /tmp/nginx-ingress-mandatory.yaml

  # Prepare for possibility of a second, external ingress
  cp /tmp/nginx-ingress-service.yaml /tmp/nginx-ingress-external-service.yaml

  # if [[ -n $(kubectl get namespaces | grep -w ingress-nginx) ]] ; then
  #   echo "Purging existing nginx-ingress install"
  #   kubectl delete -f /tmp/nginx-ingress-mandatory.yaml
  # fi

  {{ if .ParamExists "krib/nginx-ingress-controller-container-image" }}
  # Replace default container image with the one specified in "krib/nginx-ingress-controller-container-image"
  sed -i 's|quay.io/kubernetes-ingress-controller/nginx-ingress-controller|{{ .Param "krib/nginx-ingress-controller-container-image" }}|' /tmp/nginx-ingress-mandatory.yaml
  {{ end -}}

  {{ if .ParamExists "krib/ingress-nginx-loadbalancer-ip" }}
  # Add explicit loadbalancer IP to service
  sed -i "/type: LoadBalancer/ a \  loadBalancerIP: {{ .Param "krib/ingress-nginx-loadbalancer-ip" }} \\" /tmp/nginx-ingress-service.yaml
  {{ end -}}

  # If we're only doing one ingress, allow the possibilty to override the publish ip
  {{ if .ParamExists "krib/ingress-nginx-publish-ip" }}
  {{ if eq (.Param "krib/ingress-external-enabled") false -}}
  sed -i "s/publish-service=.*/publish-status-address={{ .Param "krib/ingress-nginx-publish-ip" }}/" \
    /tmp/nginx-ingress-mandatory.yaml
  {{ end -}}
  {{ end -}}

  # Create the default "internal" nginx
  kubectl apply -f /tmp/nginx-ingress-mandatory.yaml
  kubectl apply -f /tmp/nginx-ingress-service.yaml

  # Create exposed TCP/UDP services
  kubectl apply -f /tmp/krib-nginx-tcp-services.yaml
  kubectl apply -f /tmp/krib-nginx-udp-services.yaml

  {{ if eq (.Param "krib/ingress-external-enabled") true -}}
  ##### Create create the "external" nginx (which is nginx in all but name)
  # Rather than try to entangle the two controllers, just wholesale search/replace with sed
  # and end up with each controller in its own namespace, with its own clusterrolebindings, etc.
  # This makes it easier to restrict access later, or to remove and redeploy one ingress independently
  # of the other

  # Add annotations per https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/
  sed "/annotations-prefix=nginx.ingress/ a \            - --ingress-class=nginx-external \\" \
    /tmp/nginx-ingress-mandatory.yaml > /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "/annotations-prefix=nginx.ingress/ a \            - --election-id=ingress-controller-leader-external \\" \
    /tmp/nginx-ingress-external-mandatory.yaml


  # If we're doing an _additional_ external ingress, then allow the possibility of overriding the external ingress publish ip using --publish-status-address
  # This value is mutually exclusive from --publish-service
  {{- if .ParamExists "krib/ingress-nginx-publish-ip" }}
  sed -i "s/publish-service=.*/publish-status-address={{ .Param "krib/ingress-nginx-publish-ip" }}/" \
    /tmp/nginx-ingress-external-mandatory.yaml
  {{ else }}
    sed -i "/annotations-prefix=nginx.ingress/ a \            - --publish-service=ingress-nginx-external/ingress-nginx-external \\" \
    /tmp/nginx-ingress-external-mandatory.yaml
  {{ end -}}

  # Prepare the mandatory elements
  sed -i "s/name: nginx-ingress-controller/name: external-nginx-ingress-controller/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/app.kubernetes.io\/name: ingress-nginx/app.kubernetes.io\/name: ingress-nginx-external/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/app.kubernetes.io\/part-of: ingress-nginx/app.kubernetes.io\/part-of: ingress-nginx-external/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/  name: ingress-nginx$/  name: ingress-nginx-external/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/  name: nginx-ingress$/  name: external-nginx-ingress/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/nginx-ingress-serviceaccount/external-nginx-ingress-serviceaccount/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/namespace: ingress-nginx$/namespace: ingress-nginx-external/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/nginx-ingress-clusterrole/external-nginx-ingress-clusterrole/" /tmp/nginx-ingress-external-mandatory.yaml
  sed -i "s/ingress-controller-leader-nginx/ingress-controller-leader-external-nginx-external/" /tmp/nginx-ingress-external-mandatory.yaml

  # Prepare the service
  sed -i "s/app.kubernetes.io\/name: ingress-nginx/app.kubernetes.io\/name: ingress-nginx-external/" /tmp/nginx-ingress-external-service.yaml
  sed -i "s/app.kubernetes.io\/part-of: ingress-nginx/app.kubernetes.io\/part-of: ingress-nginx-external/" /tmp/nginx-ingress-external-service.yaml
  sed -i "s/  name: ingress-nginx$/  name: ingress-nginx-external/" /tmp/nginx-ingress-external-service.yaml
  sed -i "s/namespace: ingress-nginx$/namespace: ingress-nginx-external/" /tmp/nginx-ingress-external-service.yaml

  {{ if .ParamExists "krib/ingress-nginx-external-loadbalancer-ip" }}
  # Add explicit loadbalancer IP to service
  sed -i "/type: LoadBalancer/ a \  loadBalancerIP: {{ .Param "krib/ingress-nginx-external-loadbalancer-ip" }} \\" /tmp/nginx-ingress-external-service.yaml
  {{ end -}}

  # if [[ -n $(kubectl get namespaces | grep -w ingress-nginx-external) ]] ; then
  #   echo "Purging existing nginx-ingress install"
  #   kubectl delete -f /tmp/nginx-ingress-external-mandatory.yaml
  # fi

  kubectl apply -f /tmp/nginx-ingress-external-mandatory.yaml
  kubectl apply -f /tmp/nginx-ingress-external-service.yaml

  # Create exposed TCP/UDP services
  kubectl apply -f /tmp/krib-nginx-external-tcp-services.yaml
  kubectl apply -f /tmp/krib-nginx-external-udp-services.yaml

  ############ End external ingress
  {{ end }}

  # now cert-manager
{{if .ParamExists "certmanager/email"}}
  echo "Start cert-manager install"
  download -o /tmp/certmanager-manifests.yaml {{ .Param "certmanager/manifests" }}

  echo "Preparing namespace and disabling validation.." 
  kubectl create namespace cert-manager || echo "Failed to create namespace, it probably already exists. Proceeding..."
  kubectl label namespace cert-manager certmanager.k8s.io/disable-validation="true" || echo "Failed to disable validation on namespace, it's probably already done. Proceeding..."

  ###### Perform optional substitution of the container image specified in the deployment YAML with
  ###### an image from a local registry, for security
  {{ if .ParamExists "krib/cert-manager-container-image-controller" }}
  # Replace default container image with the one specified in "krib/nginx-ingress-container-image-controller"
  sed -i 's|quay.io/jetstack/cert-manager-controller|{{ .Param "krib/cert-manager-container-image-controller" }}|' \
    /tmp/certmanager-manifests.yaml
  {{ end -}}

  {{ if .ParamExists "krib/cert-manager-container-image-cainjector" }}
  # Replace default container image with the one specified in "krib/nginx-ingress-container-image-controller"
  sed -i 's|quay.io/jetstack/cert-manager-cainjector|{{ .Param "krib/cert-manager-container-image-cainjector" }}|' \
    /tmp/certmanager-manifests.yaml
  {{ end -}}

  {{ if .ParamExists "krib/cert-manager-container-image-webhook" }}
  # Replace default container image with the one specified in "krib/nginx-ingress-container-image-controller"
  sed -i 's|quay.io/jetstack/cert-manager-webhook|{{ .Param "krib/cert-manager-container-image-webhook" }}|' \
    /tmp/certmanager-manifests.yaml
  {{ end -}}
  ######
  ###### End optional substitution


  kubectl apply -f /tmp/certmanager-manifests.yaml

{{if .ParamExists "certmanager/acme-challenge-dns01-provider"}}
  if [[ -n $(kubectl -n kube-system get secrets | grep -w certmanager-provider) ]] ; then
    echo "Removing existing certmanager-provider Secret"
    kubectl delete -f /tmp/certmanager-provider-secret.yaml
  fi
  echo "Creating certmanager-provider Secret"
  kubectl apply -f /tmp/certmanager-provider-secret.yaml
{{end}}

  # It can take some time before this succeeds, because it requires un-tainted workers available to
  # run workloads, and the download of container images for certmanager's validating webhook
  # For this reason, we use with_backoff, and we retry every minute for 10 min
  ATTEMPTS=10 TIMEOUT=10 with_backoff kubectl apply -f /tmp/certmanager-clusterissuer.yaml

  # Clean up
  mkdir -p /tmp/cleanup
  mv /tmp/*.yaml /tmp/cleanup
  #rm -f /tmp/certmanager-provider-secret.yaml
  #rm -f /tmp/certmanager-clusterissuer.yaml
  #rm -f /tmp/certmanager-crds.yaml
  #rm -f /tmp/k8s-db-ingress.yaml
{{end}}
else
  echo "I was not the leader, skipping nginx ingress install"
fi

echo "Finished nginx ingress deployment successfully"

echo "Finished successfully"
exit 0
