#!/usr/bin/env bash
# Kubernetes and Kubeadm Install Content
set -e

# Get access and who we are.
{{template "setup.tmpl" .}}
[[ $RS_UUID ]] && export RS_UUID="{{.Machine.UUID}}"

CNI_VERSION="{{ .Param "krib/cluster-cni-version" }}"
CRICTL_VERSION="{{ .Param "krib/cluster-crictl-version" }}"
RELEASE="{{ .Param "krib/cluster-kubernetes-version" }}"

echo "Install kubelet, kubeadm, and kubectl ... "

INSTALL_DIR=/usr/bin

case $OS_FAMILY in
  debian)
    if ! which socat ; then
      install socat
    fi
    ;;
  rhel)
    # Fix kernel config ref for kubeadm if missing
    if [[ ! -e /boot/config-$(uname -r) ]] ; then
      yum install -y kernel-devel
      ln -s /usr/src/kernels/$(uname -r)/.config /boot/config-$(uname -r)
    fi

    if ! which socat ; then
      install socat
    fi

    # Fix hostname lookup
    echo "{{.Machine.Address}} $(hostname -s) $(hostname)" >> /etc/hosts

    if sestatus | grep -q disabled ; then
        echo "SELinux already disabled"
    else
        setenforce 0
    fi
    ;;
  coreos)
    # Fix hostname lookup
    echo "{{.Machine.Address}} $(hostname -s) $(hostname)" >> /etc/hosts

    INSTALL_DIR=/opt/bin
    ;;
esac

mkdir -p ${INSTALL_DIR}
mkdir -p /opt/cni/bin

curl -L "https://github.com/containernetworking/plugins/releases/download/${CNI_VERSION}/cni-plugins-amd64-${CNI_VERSION}.tgz" | tar -C /opt/cni/bin -xz

curl -L "https://github.com/kubernetes-incubator/cri-tools/releases/download/${CRICTL_VERSION}/crictl-${CRICTL_VERSION}-linux-amd64.tar.gz" | tar -C ${INSTALL_DIR} -xz

cd ${INSTALL_DIR}
curl -L --remote-name-all https://storage.googleapis.com/kubernetes-release/release/${RELEASE}/bin/linux/amd64/{kubeadm,kubelet,kubectl}
chmod +x {kubeadm,kubelet,kubectl}

curl -sSL "https://raw.githubusercontent.com/kubernetes/kubernetes/${RELEASE}/build/debs/kubelet.service" | sed "s:/usr/bin:$INSTALL_DIR:g" > /etc/systemd/system/kubelet.service
mkdir -p /etc/systemd/system/kubelet.service.d
curl -sSL "https://raw.githubusercontent.com/kubernetes/kubernetes/${RELEASE}/build/debs/10-kubeadm.conf" | sed "s:/usr/bin:$INSTALL_DIR:g" > /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

systemctl enable kubelet && systemctl start kubelet

echo "Finished successfully"
exit 0
