apiVersion: v1
kind: ConfigMap
metadata:
  name: rook-config-override
  namespace: rook-ceph
data:
  config: |
    [global]
    public network = {{ .Param "krib/rook-ceph-public-network" }}
    cluster network = {{ .Param "krib/rook-ceph-cluster-network" }}
    public addr = ""
    cluster addr = ""    
