listener "tcp" {
  address          = "0.0.0.0:8200"
  cluster_address  = "{{.Machine.Address}}:8201"
  tls_cert_file = "/etc/vault/pki/server.pem"
  tls_key_file  = "/etc/vault/pki/server-key.pem"
}

storage "raft" {
  path = "/var/lib/vault"
  node_id = "{{.Machine.Name}}"

  # Iterate through all the cluster masters to setup retry_join
{{ range $index, $elem := .Param "vault/servers" }}
  retry_join {
      leader_api_addr = "https://{{ $elem.Address }}:8200"
      leader_ca_cert_file = "/etc/vault/pki/server-ca.pem"
    }    
{{ end -}}            
}

api_addr = "https://{{.Machine.Address}}:8200"
cluster_addr = "https://{{.Machine.Address}}:8201"