listener "tcp" {
  address          = "0.0.0.0:8200"
  cluster_address  = "{{.Machine.Address}}:8201"
  tls_cert_file = "/etc/vault/pki/server.pem"
  tls_key_file  = "/etc/vault/pki/server-key.pem"
}

storage "raft" {
  path = "/var/lib/vault/raft"
  node_id = "{{.Machine.Name}}"
  retry_join {
      leader_api_addr = "http://{{.Param "krib/cluster-master-vip"}}:8200"
    }  
}

api_addr = "http://{{.Machine.Address}}:8200"
cluster_addr = "https://{{.Machine.Address}}:8201"