### BEGIN INIT INFO
# Provides:          vault-kms-plugin
# Required-Start:    $local_fs $remote_fs
# Required-Stop:     $local_fs $remote_fs
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Kubernetes encryption KMS plugin for Vault
# Description:       Kubernetes encryption KMS plugin for Vault
### END INIT INFO

[Unit]
Description=Kubernetes encryption KMS plugin for Vault
Requires=network-online.target
After=network-online.target

[Service]
User=vault
Group=vault
PIDFile=/var/run/vault/kubernetes-vault-kms-plugin.pid
ExecStart=/usr/local/bin/kubernetes-vault-kms-plugin -vaultConfig=/etc/vault/vault-kms-plugin.yaml -socketFile=/etc/kubernetes/pki/vault-kms-plugin/vault-kms-plugin.sock
ExecReload=/bin/kill -HUP \$MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
RestartSec=42s
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target