[Unit]
Description=DigitalRebar Provision Integrated DHCP and File Provisioner
Documentation=http://provision.readthedocs.io/en/latest/
After=network.target

[Service]
ExecStart=/usr/local/bin/dr-provision
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
