    "network": {
        "type": "static",
        "ip_addr": "192.168.124.50",
        "netmask": "255.255.255.0",
        "gateway": "192.168.124.1",
        "nameserver": "1.1.1.1",
        "vlan_id": "1000"
    },
