# -*- powershell -*-#

$env:RS_ENDPOINT = '{{.ApiURL}}'
$env:RS_UUID = '{{.Machine.UUID}}
$env:RS_TOKEN = '{{.GenerateInfiniteToken}}'

if (-not(Test-Path "\Windows\drpcli.exe")) {
    Invoke-WebRequest -Uri "`$env:RS_ENDPOINT/files/drpcli.amd64.windows" -Outfile "\Windows\drpcli.exe"
}

& drpcli agent install
if ($LASTEXITCODE -eq 0) {
    & drpcli agent start
} else {
    write-error "Failed to install agent"
}