---
### playbook is used to prove that local ansible is working
- hosts: all
  connection: local
  gather_facts: false
  debugger: {{ if .Param "rs-debug-enable" }}on_failed{{ else }}never{{ end }}
  user: "{{ .Param "rsa/key-user" }}"

  vars:
    test: "file.test"

  tasks:
    - name: "Testing ansible-playbooks-local"
      debug:
        msg: "Testing Ansible Variable: {{`{{ test }}`}}"

    - name: "Validating access to local system"
      file:
        path: "{{`{{ test }}`}}"
        state: touch
