#!/usr/bin/env bash

set -e

export TPM2TOOLS_TCTI_NAME=device
export TPM2TOOLS_DEVICE_FILE="{{.Param "inventory/tpm-device"}}"

if [[ ! -e ${TPM2TOOLS_DEVICE_FILE} ]] ; then
    key="no device"
else
    if ! which tpm2_getpubek >/dev/null ; then
        yum install -y tpm2-tools || :
    fi
    if which tpm2_getpubek >/dev/null ; then
        tpm2_evictcontrol -A o -H 0x81010001 -S 0x81010001
        tpm2_getpubek -H 0x81010001 --file ~/ek.pub
        key=$(base64 --wrap=600 < ~/ek.pub)
    else
{{ if .Param "inventory/tpm-fail-on-notools" }}
        echo "Failed to install / find tpm tools."
        exit 1
{{ end }}
        key="no tools"
    fi
fi

echo "{ \"TpmPublicKey\": \"$key\" }"

exit 0

