# DigitalRebar Provision Centos-8 (and related distros) kickstart

{{range .InstallRepos}}
{{ .Install }}
{{end}}
# key --skip
# Disable geolocation for language and timezone
# Currently broken by https://bugzilla.redhat.com/show_bug.cgi?id=1111717
# geoloc 0
timezone Etc/UTC --isUtc
lang en_US
keyboard us
# rebar
rootpw --iscrypted {{if .ParamExists "provisioner-default-password-hash"}}{{.Param "provisioner-default-password-hash"}}{{else}}$6$drprocksdrprocks$upAIK9ynEEdFmaxJ5j0QRvwmIu2ruJa1A1XB7GZjrnYYXXyNr4qF9FttxMda2j.cmh.TSiLgn4B/7z0iSHkDC1{{end}}
firewall --disabled
auth --passalgo=sha512 --enableshadow
selinux --disabled

bootloader --location=mbr --driveorder={{.Param "operating-system-disk"}} --append="rhgb quiet"
zerombr
ignoredisk --only-use={{.Param "operating-system-disk"}}
clearpart --all --initlabel --drives={{.Param "operating-system-disk"}}
part /boot --fstype ext4 --size=512 --ondisk={{.Param "operating-system-disk"}}
part /boot/efi --fstype vfat --size=512 --ondisk={{.Param "operating-system-disk"}}
part swap --recommended
part pv.6 --size=1 --grow --ondisk={{.Param "operating-system-disk"}}
volgroup {{.Machine.ShortName}} --pesize=32768 pv.6
logvol / --fstype xfs --name=lv_root --vgname={{.Machine.ShortName}} --size=1 --grow --maxsize=10240
text
skipx
reboot {{if .Param "kexec-ok" }}--kexec{{end}}

%packages
{{ $packages := index (.Param "kickstart-base-packages") .Env.OS.Name -}}
{{ if not $packages -}}
{{ $packages = index (.Param "kickstart-base-packages") .Env.OS.FamilyName -}}
{{ end -}}
{{ if not $packages -}}
{{ $packages = index (.Param "kickstart-base-packages") "unknown" -}}
{{ end -}}
{{ range $index, $element := $packages -}}
{{$element}}
{{ end -}}
{{if .ParamExists "extra-packages" -}}
{{ range $index, $element := (.Param "extra-packages") -}}
{{$element}}
{{end -}}
{{end -}}
%end

%post

exec > /root/post-install.log 2>&1
set -x
export PS4='${BASH_SOURCE}@${LINENO}(${FUNCNAME[0]}): '

{{template "reset-workflow.tmpl" .}}
{{template "runner.tmpl" .}}

sync
%end
