#!/bin/bash
(cd /etc/yum.repos.d; rm -f * || :)

{{ if .MachineRepos }}
# Use the install repo from the provisioner for local package installation
cat >/etc/yum.repos.d/00-rebar.repo <<"EOFLOCALREPO"
{{range .MachineRepos }}
{{ .Lines }}
{{end}}
EOFLOCALREPO

yum -y makecache
{{end}}
