#!/bin/bash
# DEPRECATED - do not use after v3.9
echo "{{ "this is deprecated!" | upper | repeat 5 }}"

# This will contain a token appropriate for the path being
# used below.  Either a create or update/show token
{{template "setup.tmpl" .}}

# Get current stage
CURRENT_STAGE=$(drpcli machines show ${RS_UUID} | jq .Stage -r)
echo "Machine's current stage: $CURRENT_STAGE"

declare -A DATA

cs() { drpcli machines stage "${RS_UUID}" "$1" --force || exit $? }

{{if .ParamExists "change-stage/map"}}
{{ range $key, $value := (.Param "change-stage/map")}}
DATA["{{$key}}"]="{{$value}}"
{{end}}
{{end}}

if [[ ${DATA["$CURRENT_STAGE"]} == "" ]]; then
    cs none
    exit $?
fi
echo "Checking for data: $CURRENT_STAGE from ${DATA["$CURRENT_STAGE"]}"
IFS=':' read -r -a array <<< "${DATA["$CURRENT_STAGE"]}"
if [[ ${array[0]} == "" ]] ; then
    drpcli machines stage "${RS_UUID}" "none" --force
    exit $?
fi
NEWSTAGE="${array[0]}"
case ${array[1]} in
    Success) cs $NEWSTAGE && exit 0;;
    Reboot) cs $NEWSTAGE && exit_reboot;;
    Stop) cs $NEWSTAGE && exit_stop;;
    "") cs $NEWSTAGE && exit 0;;
    *) echo "No idea how to handle exit action ${array[1]}"
       exit 1;;
esac
