#!/usr/bin/env sh
# Returns the CIDR Prefix (eg "24") for an IPv4 network netmask provided as ARGv1

###
#  NOTE:  Uses 'sh' intentionally; may run in ESXi environment which does not have
#         a valid BASH shell.
#
#         DOES NOT support IPv6 netmask to cidr prefix notation.
###

###
#  Expects ARGv1 of input to be a validly formed IPv4 network netmask.
###
convert_ipv4_netmask_to_cidr_prefix() {
  local _nm="$1"

  if [[ -z "$_nm" ]]
  then
    echo "FATAL: No network netmask provided as ARGv1."
    exit 1
  else
    echo $_nm | grep -w -E -o '^(254|252|248|240|224|192|128)\.0\.0\.0|255\.(254|252|248|240|224|192|128|0)\.0\.0|255\.255\.(254|252|248|240|224|192|128|0)\.0|255\.255\.255\.(254|252|248|240|224|192|128|0)' > /dev/null
    if [[ $? -ne 0 ]]
    then
      echo "FATAL: ARGv1 network netmask ('$_nm') is not a valid IPv4 formatted netmask"
      exit 1
    fi
  fi

  ###
  #  Because ... ESXi does not have 'bc', 'atoi', or a whole lot of real tools ... this
  #  is super ugly low tech, but works ...
  ###
  case "$_nm" in
    "128.0.0.0") echo "1" ;;
    "192.0.0.0") echo "2" ;;
    "224.0.0.0") echo "3" ;;
    "240.0.0.0") echo "4" ;;
    "248.0.0.0") echo "5" ;;
    "252.0.0.0") echo "6" ;;
    "254.0.0.0") echo "7" ;;
    "255.0.0.0") echo "8" ;;
    "255.128.0.0") echo "9" ;;
    "255.192.0.0") echo "10" ;;
    "255.224.0.0") echo "11" ;;
    "255.240.0.0") echo "12" ;;
    "255.248.0.0") echo "13" ;;
    "255.252.0.0") echo "14" ;;
    "255.254.0.0") echo "15" ;;
    "255.255.0.0") echo "16" ;;
    "255.255.128.0") echo "17" ;;
    "255.255.192.0") echo "18" ;;
    "255.255.224.0") echo "19" ;;
    "255.255.240.0") echo "20" ;;
    "255.255.248.0") echo "21" ;;
    "255.255.252.0") echo "22" ;;
    "255.255.254.0") echo "23" ;;
    "255.255.255.0") echo "24" ;;
    "255.255.255.128") echo "25" ;;
    "255.255.255.192") echo "26" ;;
    "255.255.255.224") echo "27" ;;
    "255.255.255.240") echo "28" ;;
    "255.255.255.248") echo "29" ;;
    "255.255.255.252") echo "30" ;;
    "255.255.255.254") echo "31" ;;
    "255.255.255.255") echo "32" ;;
    *) echo "FATAL: invalid input netmask '$1' format."
       exit 1
    ;;
  esac
}

