{{if or (eq "debian" .Env.OS.FamilyName) (eq "ubuntu" .Env.OS.FamilyName) -}}
d-i partman-auto/disk string /dev/{{.Param "operating-system-disk"}}
d-i grub-installer/choose_bootdev select /dev/{{.Param "operating-system-disk"}}
d-i grub-installer/bootdev string /dev/{{.Param "operating-system-disk"}}
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string {{.Machine.ShortName}}
d-i partman-auto/choose_recipe select atomic
d-i grub-installer/only_debian boolean true
{{ end -}}

{{if or (eq "redhat" .Env.OS.FamilyName) (eq "fedora" .Env.OS.FamilyName) -}}
{{ if and (regexMatch ".*rhel-server.*" .Env.OS.Name) (.Env.OS.VersionEq "8") -}}
# RHEL Server 8 partitioning default scheme
bootloader --location=mbr --driveorder={{.Param "operating-system-disk"}} --append="rhgb quiet"
zerombr
ignoredisk --only-use={{.Param "operating-system-disk"}}
clearpart --all --initlabel --drives={{.Param "operating-system-disk"}}
autopart --type=lvm
{{ else -}}

# Fedora / CentOS 6, 7 and 8 / RHEL Server 7 partitioning scheme default
bootloader --location=mbr --driveorder={{.Param "operating-system-disk"}} --append="rhgb quiet"
zerombr
ignoredisk --only-use={{.Param "operating-system-disk"}}
clearpart --all --initlabel --drives={{.Param "operating-system-disk"}}
part /boot --fstype ext4 --size=512 --ondisk={{.Param "operating-system-disk"}}
part /boot/efi --fstype vfat --size=512 --ondisk={{.Param "operating-system-disk"}}
part swap --recommended
part pv.6 --size=1 --grow --ondisk={{.Param "operating-system-disk"}}
volgroup {{.Machine.ShortName}} --pesize=32768 pv.6
logvol / --fstype xfs --name=lv_root --vgname={{.Machine.ShortName}} --size=1 --grow --maxsize=10240
{{ end -}}
{{ end -}}
