#!/usr/bin/env bash

{{template "setup.tmpl" .}}

# One day Reset the workflow chain here as well

v=$(drpcli machines get "{{.Machine.UUID}}" param "start-over" --aggregate | jq -r .)
if [[ "$v" == "false" ]] ; then
    # Reset the current task list and mark the machine runnable.
    drpcli machines remove "{{.Machine.UUID}}" param "start-over" || true
    drpcli machines update "{{.Machine.UUID}}" '{ "Runnable": true }'
else
    # Reset the current task list and mark the machine runnable.
    drpcli machines update "{{.Machine.UUID}}" '{ "Runnable": true, "CurrentTask": -1 }'
fi &>/dev/null
