#!/usr/bin/env bash

{{template "setup.tmpl" .}}

# One day Reset the workflow chain here as well

# Reset the current task list and mark the machine runnable.
drpcli machines update "{{.Machine.UUID}}" '{ "Runnable": true, "CurrentTask": -1 }'

