{{/*
#
# This template allows the operator to use the default Kickstart or
# Preseed installation configuration file, or the operator may specify
# an alternate kickstart/preseed file to use for local customizations.
#
# To use, simply create a Param called "select-kickseed" with the value
# set to the template you wish to use.  You must specify the correct
# template file and type for your Operating System install.  For example,
# for CentOS, select a Kickstart; and for Ubuntu, a preseed.
#
# The param ('select-kickseed') can be applied to a Machine, or to a Profile
# which is subsequently applied to a machine.  Remember the 'global' profile
# applies to all machines provisioned by Digital Rebar Provision.
#
# Required Paramters:  none
# Optional Paramters:  select-kickseed
#
# Defaults:
#   select-seed:  empty
#
# Example (applies globally to all Machines):
#   drpcli profiles set global param select-kickseed to "my-net-seed.tmpl"
#
*/}}
{{if .ParamExists "select-kickseed" -}}
  {{$selectKickSeed := (printf "%s" (.Param "select-kickseed")) -}}
  {{.CallTemplate $selectKickSeed .}}
{{else -}}
  {{if and (eq "redhat" .Env.OS.FamilyName) (.Env.OS.VersionEq "7") -}} {{template "centos-7.ks.tmpl" .}} {{end -}}
  {{if and (eq "redhat" .Env.OS.FamilyName) (.Env.OS.VersionEq "8") -}} {{template "centos-8.ks.tmpl" .}} {{end -}}
  {{if (eq "fedora" .Env.OS.FamilyName) -}} {{template "centos-7.ks.tmpl" .}} {{end -}}
  {{if and (eq "debian" .Env.OS.FamilyName) (.Env.OS.VersionEq "10") -}} {{template "deb10-net-seed.tmpl" .}} {{end -}}
  {{if and (eq "debian" .Env.OS.FamilyName) (.Env.OS.VersionEq "9") -}} {{template "net-seed.tmpl" .}} {{end -}}
  {{if and (eq "debian" .Env.OS.FamilyName) (.Env.OS.VersionEq "8") -}} {{template "net-seed.tmpl" .}} {{end -}}
  {{if (eq "ubuntu" .Env.OS.FamilyName) -}} {{template "net-seed.tmpl" .}} {{end -}}
{{end -}}
