#!/usr/local/bin/env bash
###
#  This is a BASH script snippet intended to be run inside other BASH templates.
#  
#  Simple helper to prep a system with DRPCLI and JQ.  If not already installed,
#  download and install the `drpcli` and `jq` binaries in /usr/local/bin and then
#  source our `helper` tools
#
#  To use this in other templates, simply specify:
#
#         {{template "setup.tmpl" .}}
###

set -e

# Get a Machine token that we can use for drpcli actions
export RS_TOKEN="{{.GenerateToken}}"

# Get API endpoint
export RS_ENDPOINT="{{.ApiURL}}"

mkdir -p /usr/local/bin
grep -q '/usr/local/bin' <<< "$PATH" || export PATH="$PATH:/usr/local/bin"
for tool in drpcli jq; do
    which "$tool" &>/dev/null && continue
    echo "Installing $tool in /usr/local/bin"
    case $tool in
        drpcli) curl -s -f -L -o /usr/local/bin/drpcli "{{.ProvisionerURL}}/files/drpcli.amd64.linux";;
        jq)     curl -s -f -L -o /usr/local/bin/jq "{{.ProvisionerURL}}/files/jq";;
    esac
    chmod 755 "/usr/local/bin/$tool"
done
unset tool

if [[ -r ./helper ]]; then
    echo "Loading helper script"
    source ./helper
else
    echo "No ./helper script found ... skipping"
fi
