#!/usr/local/bin/env bash
# Helper to setup DRP tasks for other templates
#
###
#  This is a BASH script snippet intended to be run inside other BASH templates.
#
#  Simple helper to prep a system with DRPCLI and JQ.  If not already installed,
#  download and install the `drpcli` and `jq` binaries in /usr/local/bin and then
#  source our `helper` tools
#
#  To use this in other templates, simply specify:
#
#         \{\{template "setup.tmpl" .\}\}
#
#  without the backslashes.
###

set -e

function xiterr() { [[ $1 =~ ^[0-9]+$ ]] && { XIT=$1; shift; } || XIT=1; echo "FATAL: $*";  __exit $XIT; }

###
#  if we want debugging of our scripts, set the Param to true
#  also set shell variable for script reuse if desired for further
#  debugging
###
{{ if .ParamExists "rs-debug-enable" }}
{{ if eq (.Param "rs-debug-enable") true }}
# use in shell as: [[ $RS_DEBUG_ENABLE ]] && echo "debugging"
RS_DEBUG_ENABLE="{{.Param "rs-debug-enable"}}"
set -x
{{ end }}
{{ end }}

# We pretty much always need these parameters set, but
# don't overwrite them if they already exist.
[[ $RS_TOKEN ]] || export RS_TOKEN="{{.GenerateInfiniteToken}}"
[[ $RS_ENDPOINT ]] || export RS_ENDPOINT="{{.ApiURL}}"
[[ $RS_UUID ]] || export RS_UUID="{{.Machine.UUID}}"

function fixup_path() {
  local _add_path
  for _add_path in $(echo $* | sed 's/[:,]/ /g')
  do
    mkdir -p $_add_path
    echo ":$PATH:" | grep -q ":$_add_path" || export PATH="$PATH:$_add_path"
  done
}

fixup_path /usr/local/bin /usr/sbin /sbin /opt/bin

arch=$(uname -m)
case $arch in
    x86_64|amd64) arch="amd64";;
    arm64|aarch64) arch="arm64";;
    *)
        xiterr 1 "Unknown arch $(uname -m)";;
esac

osfamily=$(grep "^ID=" /etc/os-release | tr -d '"' | cut -d '=' -f 2)

INSTALL_DIR=/usr/local/bin
if grep -q coreos /etc/os-release ; then
  INSTALL_DIR=/opt/bin
elif grep -q alpine /etc/os-release ; then
  INSTALL_DIR=/usr/bin
fi
mkdir -p $INSTALL_DIR

if ! which drpcli ; then
    echo "Installing drpcli in $INSTALL_DIR"
    curl --noproxy '*' -gsfLo "$INSTALL_DIR/drpcli" "{{.ProvisionerURL}}/files/drpcli.$arch.linux"
    chmod 755 "$INSTALL_DIR/drpcli"
else
    INSTALL_DIR="$(dirname $(which drpcli))"
fi

if [[ ! -e $INSTALL_DIR/drpjq ]] ; then
    ln -s $INSTALL_DIR/drpcli $INSTALL_DIR/drpjq
fi
if [[ ! -e $INSTALL_DIR/jq ]] ; then
    ln -s $INSTALL_DIR/drpcli $INSTALL_DIR/jq
fi
unset INSTALL_DIR

# Helper is rendered by the agent, and includes additional helpful functions; for
# source, see repo https://github.com/digitalrebar/provision and file agent/cmdHelper.go
if [[ -r ./helper ]]; then
    . ./helper
    __sane_exit
fi
