    "partition_type": "gpt",
    "partitions": [
        {"mountpoint": "/", "size": 0, "filesystem": "ext4"},
        {"mountpoint": "/boot", "size": 128, "filesystem": "ext4"},
        {"size": 128, "filesystem": "swap"}
    ],
