{
    "hostname": "{{ .Machine.Name }}",
    "bootmode": "{{ .Param "photon-bootmode" }}",
{{ $net := (printf "photon-network-%s.json.tmpl" (.Param "photon-network-template")) }}{{ .CallTemplate $net .}}
    "password":
        {
            "crypted": true,
            "text": "{{if .ParamExists "provisioner-default-password-hash"}}{{.Param "provisioner-default-password-hash"}}{{else}}$6$drprocksdrprocks$upAIK9ynEEdFmaxJ5j0QRvwmIu2ruJa1A1XB7GZjrnYYXXyNr4qF9FttxMda2j.cmh.TSiLgn4B/7z0iSHkDC1{{end}}"
        },
    "disk": "/dev/{{.Param "operating-system-disk"}}",
    "partitions": [
                {"mountpoint": "/", "size": 0, "filesystem": "ext4", "lvm":{"vg_name":"vg-root", "lv_name":"rootfs"}},
                {"mountpoint": "/boot", "size": 128, "filesystem": "ext4"},

                {"mountpoint": "/root", "size": 128, "filesystem": "ext4","lvm":{"vg_name":"vg-root", "lv_name":"root"}},

                {"size": 128, "filesystem": "swap","lvm":{"vg_name":"vg-swap", "lv_name":"swap"}}
    ],
    "packages": {{ .ParamAsJSON "photon-base-packages" }},
    "additional_packages": {{if .ParamExists "extra-packages" }}{{ .ParamAsJSON "extra-packages" }}{{else}}[]{{end }},
    "postinstall": [
                     "#!/bin/sh",
                     "curl -o /root/reset-workflow-runner.sh {{.Machine.Path}}/reset-workflow-runner.sh",
                     "bash -c /root/reset-workflow-runner.sh"
                   ],
    "log_level": "info",
    "install_linux_esx": false
}
