#!/usr/bin/env sh
# wait for esxi/wait-time defined seconds

set -e
WAIT='{{ .Param "esxi/wait-time" }}'

echo ""
echo ">>> Starting esxi-wait-time task..."
echo ">>> Wait time set to:  $WAIT"

sleep $WAIT

echo ""
echo ">>> Wait timer expired, continuing..."
echo ""
