#!/usr/bin/env bash
# Cluster host membership collection task
# RackN Copyright 2020

###
#  NOTICE:  This template relies on the 'esxi/cluster-name' being set
#           to a cluster name to operate on.  Additionally, each Machine
#           that belongs in the specified cluster MUST ALSO have the
#           Param set with the name of the clsuter.
###

### setup.tmpl
{{ template "setup.tmpl" . }}

### govc-setup.sh.tmpl
{{ template "govc-setup.sh.tmpl" .}}

### govc-lib.sh.tmpl
{{ template "govc-lib.sh.tmpl" .}}

### govc-cluster-create.sh
JQ=$(which jq)
[[ -z "$JQ" ]] && JQ=$(which drpjq)    || true
[[ -z "$JQ" ]] && JQ=$(which drpclijq) || true
[[ -z "$JQ" ]] && JQ=$(which gojq)     || true
if [[ -z "$JQ" ]]; then
  D="$(which drpcli)"
  if [[ -n "$D" ]]; then
    ln -s $D /usr/local/bin/drpjq
    JQ="/usr/local/bin/drpjq"
  else
    xiterr 1 "Unable to find 'jq' or alternative to use."
  fi
fi

CLUSTER='{{ .Param "esxi/cluster-name" }}'
[[ -z "$CLUSTER" ]] && xiterr 1 "'esxi/cluster-name' not specified"

echo "Getting hosts for cluster '$CLUSTER'"

{{ if .ParamExists "esxi/cluster-profile" -}}
{{ if eq ( .Param "esxi/cluster-profile" ) "" -}}
xiterr 1 "ESXi cluster data storage profile ('esxi/cluster-profile') exists but has an empty value."
{{ end -}}
CLUSTER_PROFILE='{{ .Param "esxi/cluster-profile" }}'
{{ else -}}
xiterr 1 "ESXi cluster data storage profile ('esxi/cluster-profile') has not been assigned."
{{ end }}

echo "Cluster profile to write to is '$CLUSTER_PROFILE'"

NAMES=$(drpcli machines list esxi/cluster-name Eq "$CLUSTER" Context Eq "" | jq -r ".[]  | select(.Params.\"esxi/dvs-memberships\" | index(\"$DVS_NAME\")) | .Name" | tr '\n' ' ')

echo "Convert found DRP Names to ESXi node names."
echo "      DRP Names:  $NAMES"

T=$(mktemp /tmp/members.XXXXXXXXX)

for NAME in $NAMES
do
  MEMBER=""
  MEMBER="$(get_member_name $NAME)"
  if [[ -n "$MEMBER" ]]
  then
    echo "Found ESXi member name of '$MEMBER'"
    MEMBERS="$MEMBERS $MEMBER"
    echo "  - $MEMBER" >> $T
  else
    xiterr 1 "Could not convert Machine name '$NAME' to ESXi cluster member name."
  fi
done
[[ -z "$MEMBERS" ]] && xiterr 1 "No members with 'esxi/cluster-name' found to operate on."

echo "ADDING cluster members to profile: $MEMBERS"
cat $T | drpcli profiles add $CLUSTER_PROFILE param $CLUSTER/cluster-members to -
rm -f $T
