{
  "DiskProvisioning": "flat",
  "IPAllocationPolicy": "dhcpPolicy",
  "IPProtocol": "IPv4",
  "PropertyMapping": [
    {
      "Key": "guestinfo.ADMIN_USERNAME",
      "Value": "admin"
    },
    {
      "Key": "guestinfo.ADMIN_PASSWORD",
      "Value": ""
    },
    {
      "Key": "guestinfo.ROOT_PASSWORD",
      "Value": ""
    },
    {
      "Key": "guestinfo.hostname",
      "Value": ""
    },
    {
      "Key": "guestinfo.ip0",
      "Value": ""
    },
    {
      "Key": "guestinfo.netmask0",
      "Value": ""
    },
    {
      "Key": "guestinfo.gateway",
      "Value": ""
    },
    {
      "Key": "guestinfo.DNS",
      "Value": ""
    },
    {
      "Key": "guestinfo.domain",
      "Value": ""
    },
    {
      "Key": "guestinfo.searchpath",
      "Value": ""
    },
    {
      "Key": "guestinfo.ntp",
      "Value": ""
    }
  ],
  "NetworkMapping": [
    {
      "Name": "Network 1",
      "Network": ""
    }
  ],
  "Annotation": "VMware Cloud Builder",
  "MarkAsTemplate": false,
  "PowerOn": false,
  "InjectOvfEnv": false,
  "WaitForIP": false,
  "Name": null
}
