# Rebar seed file for Debian installs
d-i debian-installer/locale string en_US.UTF-8
d-i console-setup/ask_detect boolean false
d-i console-setup/layoutcode string us
d-i keyboard-configuration/xkb-keymap select us
d-i debian-installer/locale string en_US.UTF-8
d-i console-tools/archs select at
d-i console-keymaps-at/keymap select American English
d-i debian-installer/keymap string us
d-i keyboard-configuration/toggle select No toggling
d-i netcfg/choose_interface select auto
d-i netcfg/dhcp_timeout string 120
d-i netcfg/get_hostname string {{.Machine.ShortName}}
d-i mirror/country string manual
{{if (eq "debian" .Env.OS.Family)}}
d-i mirror/protocol string http
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
{{else}}
d-i mirror/http/hostname string archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
{{end}}
d-i mirror/http/proxy string
d-i apt-setup/security_host string
d-i apt-setup/security_path string
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean false
{{if .ParamExists "operating-system-disk"}}
d-i partman-auto/disk string /dev/{{.Param "operating-system-disk"}}
{{else}}
d-i partman-auto/disk string /dev/sda
{{end}}
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/device_remove_lvm_span boolean true
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nochanges boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman-auto-lvm/new_vg_name string {{.Machine.ShortName}}
d-i partman-auto/choose_recipe select custom_lvm
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/auto expert_recipe string \
    custom_lvm::  \
      500 50 1024 free $iflabel{ gpt } $reusemethod{ } method{ efi } format{ } . \
      128 50 256  ext2 $defaultignore{ } method{ format } format{ } use_filesystem{ } filesystem{ ext2 } mountpoint{ /boot } . \
      10240 20 10240 ext4 $lvmok{ } mountpoint{ / } lv_name{ root } in_vg{ {{.Machine.ShortName}} } method{ format } format{ } use_filesystem{ } filesystem{ ext4 } . \
      50% 20 100% linux-swap $lvmok{ } lv_name{ swap } in_vg{ {{.Machine.ShortName}} } method{ swap } format{ } .
{{if (and (eq "ubuntu" .Env.OS.Family)  (lt "12.10" .Env.OS.Version))}}
d-i live-installer/net-image string {{.Env.InstallUrl}}/install/filesystem.squashfs
{{end}}
d-i passwd/user-fullname string {{if .ParamExists "provisioner-default-user"}}{{.Param "provisioner-default-user"}}{{else}}rocketskates{{end}}
d-i passwd/username string {{if .ParamExists "provisioner-default-user"}}{{.Param "provisioner-default-user"}}{{else}}rocketskates{{end}}
d-i passwd/user-password-crypted password {{if .ParamExists "provisioner-default-password-hash"}}{{.Param "provisioner-default-password-hash"}}{{else}}$6$drprocksdrprocks$upAIK9ynEEdFmaxJ5j0QRvwmIu2ruJa1A1XB7GZjrnYYXXyNr4qF9FttxMda2j.cmh.TSiLgn4B/7z0iSHkDC1{{end}}
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
d-i debian-installer/allow_unauthenticated string true
tasksel tasksel/first multiselect ubuntu-standard, openssh-server
d-i pkgsel/include string openssh-server curl efibootmgr
d-i pkgsel/update-policy select none
d-i grub-installer/only_debian boolean true
{{if (not (and (eq "debian" .Env.OS.Family) (gt "7" .Env.OS.Version)))}}
{{if .ParamExists "operating-system-disk"}}
d-i grub-installer/choose_bootdev select /dev/{{.Param "operating-system-disk"}}
d-i grub-installer/bootdev string /dev/{{.Param "operating-system-disk"}}
{{else}}
d-i grub-installer/choose_bootdev select /dev/sda
d-i grub-installer/bootdev string /dev/sda
{{end}}
{{end}}
d-i finish-install/reboot_in_progress note
xserver-xorg xserver-xorg/autodetect_monitor boolean true
xserver-xorg xserver-xorg/config/monitor/selection-method select medium
xserver-xorg xserver-xorg/config/monitor/mode-list select 1024x768 @ 60 Hz
d-i preseed/late_command string wget {{.Machine.Url}}/post-install.sh -O /target/net-post-install.sh ; chmod +x /target/net-post-install.sh ; /target/net-post-install.sh
