#
# This template populates the root's authorized keys file
# and makes sure that the sshd config for PermitRootLogin is populated.
#
# Runs as part of a shell script for kickstart or net-post-install
# The template does nothing if proxy-servers is undefined
#
# Required Parameters: access-keys
# Optional Parameters: access-ssh-root-mode
#
# Parameter YAML format:
#
# access-keys:
#   greg:  ssh-rsa key
#   greg2:  ssh-rsa key
# access-ssh-root-mode: "without-password|yes|no|forced-commands-only"
#
# Defaults:
# access-keys - empty
# access-ssh-root-mode - defaults to "without-password" if unspecified
#
{{if .ParamExists "access-keys"}}
mkdir -p /root/.ssh
cat >/root/.ssh/authorized_keys <<EOFSSHACCESS
### BEGIN GENERATED CONTENT
{{range $key := .Param "access-keys"}}
{{$key}}
{{end}}
### END GENERATED CONTENT
EOFSSHACCESS
sed --in-place -r -e '/^#?PermitRootLogin/ s/^#//' -e '/^#?PermitRootLogin/ s/prohibit-password/{{if .ParamExists "access_ssh_root_mode"}}{{.Param "access_ssh_root_mode"}}{{else}}without-password{{end}}/' /etc/ssh/sshd_config
echo "AcceptEnv http_proxy https_proxy no_proxy" >> /etc/ssh/sshd_config
{{end}}
