#
# This template populates updates the machine object's
# BootEnv in DRP to 'ce-local' or some other bootenv.
#
# Runs as part of a shell script for kickstart or net-post-install
# The template does is always on, but can be modified
#
# Required Parameters:
# Optional Parameters: next-boot-env
#
# Parameter YAML format:
#
# next-boot-env: ce-local
#
# Defaults:
# next-boot-env - defaults to ce-local if unspecified
#
(cd /bin; curl -s -f -L -o drpcli "{{.ProvisionerURL}}/files/drpcli.amd64.linux"; chmod 755 drpcli)
export RS_ENDPOINT="{{.ApiURL}}"
# This will contain a token appropriate for the path being
# used below.  Either a create or update/show token
export RS_TOKEN="{{.GenerateToken}}"
drpcli machines update "{{.Machine.UUID}}" '{"BootEnv": "{{if .ParamExists "next-boot-env"}}{{.Param "next-boot-env"}}{{else}}ce-local{{end}}"}'

