#
# This template populates the HOSTNAME of the system in various places.
# It also exports the HOSTNAME variable for use by other templates.
#
# Runs as part of a shell script for kickstart or net-post-install
#
# Required Parameters:
# Optional Parameters:
#
# Parameter YAML format:
#
# Defaults:
#
HOSTNAME="{{.Machine.Name}}"

if [ -f /etc/sysconfig/network ] ; then
    sed -i -e "s/HOSTNAME=.*/HOSTNAME=${HOSTNAME}/" /etc/sysconfig/network
fi
echo "${HOSTNAME#*.}" >/etc/domainname
echo "$HOSTNAME" >/etc/hostname
hostname "$HOSTNAME"
export HOSTNAME

