#!/bin/bash
# Image build template to cleanup and prep our system PRIOR to packaging
# origin: rackn/image-builder

{{ template "setup.tmpl" .}}

echo ">>> In cleanup step ..."
#(( $SETX )) && set -x
set -x

case $OS_FAMILY in
  rhel|centos)
    # clean all the Yum things, and NUKE the cache/history dirs
    yum clean all
    rm -rf /var/cache/yum var/lib/yum/history/*

    # remove the rescue image
    if [[ -f /boot/grub2/grub.cfg ]]; then
      RESCUE=`cat /boot/grub2/grub.cfg | grep rescue | grep linux16 | awk ' { print $2 } '`
      grubby --config-file=/boot/grub2/grub.cfg --remove-kernel=${RESCUE}
    fi
    rm -rf /boot/initramfs-*-rescue-*.img /boot/vmlinuz-*-rescue-*
    ;;
  debian|ubuntu)
    # need to remove extraneous kernel/initrd versions here
    rm -f /usr/sbin/policy-rc.d
    apt-get -y autoremove
    apt-get autoclean
    apt-get clean
    ;;
  *)
    echo "Don't know how to cleanup for '$OS_FAMILY' ..."
    exit 1
    ;;
esac


# clean log files
find /var/log -type f -exec cp /dev/null '{}' \;

# clean up drpcli local cache settings
> /etc/drpcli

# zero out /etc/resolv.conf
> /etc/resolv.conf

# clean bash history
> /root/.bash_history

exit 0
