# Common template to update the flash_list_installed parameters.
#
# Save the current flash list from the machine object
flash_list="$(drpcli machines get ${RS_UUID} param flash-list --aggregate)"

if [[ "${flash_list}" = "null" ]];
then
flash_list="[]"
fi

  # Compute a hash of the flash list to make comparison easy
flash_hash="$(echo ${flash_list} | sha256sum | awk '{print $1;}')"

  # Save values to machine object for future reference
drpcli machines set "${RS_UUID}" param flash-list-installed to "${flash_list}"
drpcli machines set "${RS_UUID}" param flash-list-installed-hash to "${flash_hash}"