# This template is used by the network-simple-bridge-with-addressing
# network configuration task.  It is generally used in the Proxmox
# hypervisor setup to control the network configuration prior to the
# setup of the Virtual Machines on top of Proxmox.
#
# The following shell variables will be available inside of this template:
#
#   BRIDGE  = .Param "proxmox/lab-drp-external-bridge"
#   ADDRESS = The 'proxmox/lab-drp-external-subnet' plus 1 IP address in CIDR
#             format (eg 1.1.1.1/24 if Subnet defined as '1.1.1.0/24')
#
# Any accessible Params through standard templating can also be used.

auto $BRIDGE
iface $BRIDGE inet static
  address $ADDRESS
  # disable Spanning Tree Protocol, no delay before active, no fwding delay
  bridge_stp off
  bridge_waitport 0
  bridge_fd 0
  post-up echo 1 > /proc/sys/net/ipv4/ip_forward
