# This template is used by the network-add-nat-bridge
# network configuration task.  It is generally used in the Proxmox
# hypervisor setup to control the network configuration prior to the
# setup of the Virtual Machines on top of Proxmox.
#
# The following shell variables will be available inside of this template:
#
#   BRIDGE  = .Param "proxmox/lab-drp-external-bridge"
#   ADDRESS = The 'proxmox/lab-nat-subnet' plus 1 IP address in CIDR
#             format (eg 1.1.1.1/24 if Subnet defined as '1.1.1.0/24')
#   CIDR    = .Param "proxmox/lab-nat-subnet"
#   OUTPUT  = .Param "proxmox/lab-drp-external-bridge"
#
# Any accessible Params through standard templating can also be used.

auto $BRIDGE
iface $BRIDGE inet static
  address  $ADDRESS
  bridge_ports none
  bridge_stp off
  bridge_fd 0

  post-up echo 1 > /proc/sys/net/ipv4/ip_forward
  post-up   iptables -t nat -A POSTROUTING -s "$CIDR" -o $OUTPUT -j MASQUERADE
  post-down iptables -t nat -D POSTROUTING -s "$CIDR" -o $OUTPUT -j MASQUERADE
