# This template is used by the network-convert-interface-to-bridge
# network configuration task.  It is generally used in the Proxmox
# hypervisor setup to control the network configuration prior to the
# setup of the Virtual Machines on top of Proxmox.
#
# The following shell variables will be available inside of this template:
#
#   BRIDGE    = .Param "proxmox/lab-drp-external-bridge"
#   INTERFACE = The interface found from parsing the system interfaces,
#               searching for the one defined by the DRP Param
#               'last-boot-macaddr'
#
# Any accessible Params through standard templating can also be used.

auto $BRIDGE
iface $BRIDGE inet dhcp
  bridge_ports $INTERFACE
  # disable Spanning Tree Protocol, no delay before active, no fwding delay
  bridge_stp off
  bridge_waitport 0
  bridge_fd 0

